*.pyc
challenges/*.pyc
challenges/automate_ft8/*.wav
challenges/automate_ft8/*.pyc
challenges/automate_ft8/captures/*
*.db
*.bak
devices.txt
test_*
.git/
devices.txt.corey
devices.txt.test
flags.txt
settings.json
